body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.z-idx {
  z-index: 100 !important;
  position: fixed;
  background-color: #ffffff !important;
}

.logo {
  width: 10rem;
  padding-right: 15rem;
}

.btn-light,
.btn-light-alt {
  min-width: 100px !important;
}
.btn-sign-in {
  min-width: 100px !important;
}
.btn-sign-in:active,
.btn-sign-in:hover {
  background-color: #fd9090 !important;
  border-color: #fd9090 !important;
  color: #ffffff !important;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-sign-in,
.btn-sign-in:visited {
  background-color: #ffffff !important;
  border-color: #fd9090 !important;
  color: #fd9090 !important;
}
.btn-light:active,
.btn-light:hover {
  background-color: #fd9090 !important;
  border-color: #fd9090 !important;
  color: #ffffff !important;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-light,
.btn-light:visited {
  background-color: #660505 !important;
  border-color: #660505 !important;
  color: #ffffff !important;
}

.btn-light-alt,
.btn-light-alt:visited {
  background-color: #fd9090 !important;
  border-color: #fd9090 !important;
  color: #ffffff !important;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-light-alt:active,
.btn-light-alt:hover {
  background-color: #660505 !important;
  border-color: #660505 !important;
  color: #ffffff !important;
}

.footer-bg {
  background-image: url('./images/landingpage/footer-back-hand.png');
  width: 100%;
  height: 18rem;
}

.footer-bg-2 {
  background-color: #fd9090 !important;
}
.bg-infor {
  background-color: #fae9e9 !important;
}
.bg-inform {
  background-color: #fff9e0 !important;
}

a {
  text-decoration: none !important;
  color: #ffffff !important;
}

ul {
  list-style-type: none !important;
  line-height: 1.5rem !important;
}

.hero-header {
  background-image: url('./images/landingpage/hero-headder-image.jpg');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.catch-logo {
  width: 40% !important;
  /* height: 53% !important; */
  transform: translateY(5rem);
  position: sticky;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #4f4f4f !important;
}

.navbar-scroll .nav-link:hover {
  color: #fd9090 !important;
}

.welcome {
  background-color: #014d0b !important;
  border-color: #014d0b !important;
  color: #ffffff !important;
  cursor: none !important;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.h-20 {
  height: 20% !important;
}

.h-35 {
  height: 35% !important;
}
.h-40 {
  height: 40% !important;
}

.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}
