body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.z-idx {
  z-index: 100 !important;
  position: fixed;
  background-color: #ffffff !important;
}

.logo {
  width: 10rem;
  padding-right: 15rem;
}

.btn-sign-in,
.btn-sign-in:visited {
  background-color: #fd9090 !important;
  border-color: #fd9090 !important;
  color: #ffffff !important;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-sign-in:active,
.btn-sign-in:hover {
  background-color: #ffffff !important;
  border-color: #fd9090 !important;
  color: #fd9090 !important;
}
.btn-light,
.btn-light:visited {
  background-color: #c7c4c4 !important;
  border-color: #c7c4c4 !important;
  color: #414040 !important;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-light:active,
.btn-light:hover {
  background-color: #660505 !important;
  border-color: #660505 !important;
  color: #ffffff !important;
}

.plan-price:hover {
  border-bottom: 3px solid rgb(176, 182, 3) !important;
  padding-bottom: 3.2% !important;
}

.footer-bg {
  background-image: url('./images/landingpage/footer-back-hand.png');
  width: 100%;
  height: 18rem;
}

.footer-bg-2 {
  background-color: #fd9090 !important;
}

a {
  text-decoration: none !important;
  color: #ffffff !important;
}

ul {
  list-style-type: none !important;
  line-height: 2.5rem !important;
}

.hero-header {
  background-image: url('./images/landingpage/hero-headder-image.jpg');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.catch-logo {
  width: 40% !important;
  height: 53% !important;
  transform: translateY(5rem);
  position: sticky;
}
