body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.z-idx {
  z-index: 100 !important;
  position: fixed;
  background-color: #ffffff !important;
}

.logo {
  width: 10rem;
  padding-right: 15rem;
}

.btn-light,
.btn-light-alt {
  min-width: 100px !important;
}
.btn-sign-in {
  min-width: 100px !important;
}
.btn-sign-in:active,
.btn-sign-in:hover {
  background-color: #fd9090 !important;
  border-color: #fd9090 !important;
  color: #ffffff !important;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-sign-in,
.btn-sign-in:visited {
  background-color: #ffffff !important;
  border-color: #fd9090 !important;
  color: #fd9090 !important;
}
.btn-light:active,
.btn-light:hover {
  background-color: #fd9090 !important;
  border-color: #fd9090 !important;
  color: #ffffff !important;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-light,
.btn-light:visited {
  background-color: #660505 !important;
  border-color: #660505 !important;
  color: #ffffff !important;
}

.btn-light-alt,
.btn-light-alt:visited {
  background-color: #fd9090 !important;
  border-color: #fd9090 !important;
  color: #ffffff !important;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-light-alt:active,
.btn-light-alt:hover {
  background-color: #660505 !important;
  border-color: #660505 !important;
  color: #ffffff !important;
}

.footer-bg {
  background-image: url('./images/landingpage/footer-back-hand.png');
  width: 100%;
  height: 18rem;
}

.footer-bg-2 {
  background-color: #fd9090 !important;
}

.footer-bg-3 {
  background-color: #fdd3d3 !important;
}
.bg-infor {
  background-color: #fae9e9 !important;
}
.bg-inform {
  background-color: #fff9e0 !important;
}

a {
  text-decoration: none !important;
  color: #ffffff !important;
}

ul {
  list-style-type: none !important;
  line-height: 1.5rem !important;
}

.hero-header {
  background-image: url('./images/landingpage/hero-headder-image.jpg');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.catch-logo {
  width: 40% !important;
  /* height: 53% !important; */
  transform: translateY(5rem);
  position: sticky;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #4f4f4f !important;
}

.navbar-scroll .nav-link:hover {
  color: #fd9090 !important;
}

.welcome {
  background-color: #014d0b !important;
  border-color: #014d0b !important;
  color: #ffffff !important;
  cursor: none !important;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.h-20 {
  height: 20% !important;
}

.h-35 {
  height: 35% !important;
}
.h-40 {
  height: 40% !important;
}

.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}

/* ADMIN CSS */
:root {
  --main-bg-color: #009d63 !important;
  --main-text-color: #009d63 !important;
  --second-text-color: #bbbec5 !important;
  --second-bg-color: #c1efde !important;
}

.primary-text {
  color: var(--main-text-color) !important;
}

.second-text {
  color: var(--second-text-color) !important;
}

.primary-bg {
  background-color: var(--main-bg-color) !important;
}

.secondary-bg {
  background-color: var(--second-bg-color) !important;
}

.rounded-full {
  border-radius: 100% !important;
}

#wrapper {
  overflow-x: hidden !important;
  background-image: linear-gradient(to right, #baf3d7, #c2f5de, #cbf7e4, #d4f8ea, #ddfaef) !important;
}

#sidebar-wrapper {
  min-height: 100vh !important;
  margin-left: -15rem !important;
  -webkit-transition: margin 0.25s ease-out !important;
  -moz-transition: margin 0.25s ease-out !important;
  -o-transition: margin 0.25s ease-out !important;
  transition: margin 0.25s ease-out !important;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem !important;
  font-size: 1.2rem !important;
}

#sidebar-wrapper .list-group {
  width: 15rem !important;
}

#page-content-wrapper {
  min-width: 100vw !important;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0 !important;
}

#menu-toggle {
  cursor: pointer !important;
}

.list-group-item {
  border: none !important;
  padding: 20px 30px !important;
}

.list-group-item.active {
  background-color: transparent !important;
  color: var(--main-text-color) !important;
  font-weight: bold !important;
  border: none !important;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0 !important;
  }

  #page-content-wrapper {
    min-width: 0 !important;
    width: 100% !important;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem !important;
  }
}
